<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	</head>
	<body>

		<table cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td align="left" style="vertical-align: top;">
						<a class="login-area" href="{{ url }}" title="Sign out">{{ user_name }}</a>
					</td>
					<td align="left" style="vertical-align: top;">
						<img class="login-area" src="{{ user_image_url }}" style="width: 24px;" aria-hidden="false" />
					</td>
				</tr>
			</tbody>
		</table>
		
	</body>
</html>