<div id="main">

  <div id="header">
    <table><tr>
      <td class="first"><a class="btn pull-left" href="javascript:history.back()"><img src='/img/glyphicons_224_chevron-left.png'></a></td>
      <td><h4>Меню</h4></td>
      <td></td>
    </tr></table>
  </div>

  <ul id="menu-list">
    <li><a class="clearfix" href="#/common_chat">Общий чат <img src='/img/glyphicons_223_chevron-right.png'></a></li>
    <li><a class="clearfix" href="#/my_profile">Редактировать профиль <img src='/img/glyphicons_223_chevron-right.png'></a></li>
    <!-- <li><a class="clearfix" href="#/my_location">Настройки местоположения <img src='/img/glyphicons_223_chevron-right.png'></a></li> -->
    <li><a class="clearfix" href="/logout.jsp">Выйти</a></li>
  </ul>

</div>
